.apple {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  /* background: url(./images/ue3.png); */
  background-image: url(./images/ue3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: gainsboro;
  text-align: center;
  padding: 3rem;
  width: 100%;
  height: 60vh;
  margin: 0rem;
  box-sizing: border-box;
}

@media (min-width: 40rem) {
  .apple {
    font-size: 3.75rem;
    height: 80vh;
    width: 100%;
  }
}

/* .apple1{
  font-size: 15px;
  margin-top: 20px;
  color: honeydew;
  font-weight: lighter;
  font-family: "Noto Sans JP", sans-serif;
  display: block;

}

.login_button{
  padding: 2px;
  margin: 0px;
  margin-top: 0px;
  display: inline-block;  
  background-color: hotpink;
  border-radius: 2px
  ;
} */

.div--para1 {
  background-color: rgb(200, 200, 200);
  text-align: center;
  padding: 50px;
}

.para1 {
  display: inline-block;
  background-color: rgb(200, 200, 200);
  font-family: "Noto Sans JP", sans-serif;
  /* text-indent: 3.125rem; */
  text-align: justify;
  line-height: 2.5;
  font-style: italic;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  max-width: 852px;
}

@media (min-width: 40rem) {
  .div--para1 {
    background-color: rgb(200, 200, 200);
    text-align: center;
    padding: 10px;
  }
}

.para1::first-letter {
  color: black;
  font-size: 3.125rem;
  line-height: 1.5;
}

.whurv {
  background-color: rgb(60, 60, 60);
  padding: 1.25rem;
  text-align: center;
  font-size: 1.875rem;
  font-weight: bolder;
  font-family: "Noto Sans JP", sans-serif;
}

.plans {
  text-align: center;
  background-color: gray;
}

.section-title {
  display: inline-block;
  vertical-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin: 10px;
  background-color: rgb(197, 199, 194);
  box-shadow: 12px 9px 5px 2px rgba(87, 87, 87, 0.7);
  border-radius: 4px;
}

.plan {
  font-family: "Open Sans", sans-serif;
  /* display: inline-block; */
  /* width: 30%; */
  text-align: center;
  vertical-align: center;
  color: whitesmoke;
  background-color: rgb(41, 40, 40);
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  /* box-shadow: 12px 9px 5px 2px rgba(87,87,87,0.7); */
  /* border-radius: 4px; */
}

@media (min-width: 40rem) {
  .plan {
    display: inline-block;
    width: 30%;
    box-shadow: 12px 9px 5px 2px rgba(87, 87, 87, 0.7);
    border-radius: 4px;
    max-width: 16rem;
  }
}

.plan--highlighted {
  background-color: whitesmoke;
  color: black;
}

.recommended--xtra {
  display: inline-block;
  background-color: rgb(41, 40, 40);
  box-shadow: 6px 4px 3px 1px rgba(87, 87, 87, 0.7);
  border-radius: 2px;
  padding: 5px;
  color: white;
}

.plan--features {
  list-style: none;
  vertical-align: center;
  padding: 0px;
}

.ul--adv {
  margin: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(min-width:40rem){
.ul--adv {
  margin: 0px;
  padding-left: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
}

.ul--items {
  font-family: "Noto Sans JP", sans-serif;
  list-style: none;
}

@media (min-width: 40rem) {
  .ul--items {
    width: 30%;
    display: inline-block;
    max-width: 20rem;
  }
}

.p--items {
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 0px;
}

.item--image {
  border: 10px;
  padding: 30px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
  box-shadow: 6px 4px 3px 1px rgba(87, 87, 87, 0.7);
  overflow: hidden;
  vertical-align: middle;
  position: relative;
}

.img {
  position: absolute;
  width: 200px;
  height: 200px;
  right: px;
  top: 0px;
  left: -8px;
  /* object-fit: cover; */
  filter: saturate(50%);
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  font-size: 0.8rem;
  background: white;
  border-radius: 8px;
  padding: 1rem;
  border: 2px solid rgb(60, 60, 60);
  font-family: "Noto Sans JP", sans-serif;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
