body,
html {
  box-sizing: border-box;
  /* margin: 0%;
    padding: 0%;
    height: 100%; */
  margin: 0rem;
}

.backdrop{
  display: none;
  background-color: rgba(0, 128, 128, 0.315);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.main--header {
  background-color: rgb(60, 60, 60);
  z-index: 1;
  /* width: 100%; */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

@media(min-width:40rem){
.main--header {
  background-color: rgb(60, 60, 60);
  z-index: 1;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
}
}

/* .menu--icon1 {
  display: flex;
  padding: 100px;
  
}
 */

.menu--icon {
  display: inline-block;
  width: 4%;
  height: 4%;
  margin: 4px;
  padding: 8px;
  cursor: pointer;
}

@media(min-width:40rem){
  .menu--icon{
    display: none;
  }
}

.menu--icon:hover,
.menu--icon:active{
  background-color: teal;
  transition: 0.7s;
  border-radius: 50%;
}

.logo_style--div{
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_style {
  font-size: 1.375rem;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  text-decoration: none;
}



.ib__items {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: none;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.anchor_style {
  text-decoration: none;
  font-size: 1.25rem;
  color: gainsboro;
  font-family: "Noto Sans JP", sans-serif;
}

.ib__items a:hover,
.mobile-nav__item a:hover {
  color: honeydew;
}

.ib__items a:active,
.mobile-nav__item a:active {
  color: aqua;
}

.ibul__item {
  margin: 0rem;
  display: none;
  
}

@media(min-width:40rem){
  .ibul__item{
    display: unset;
  }

}



.nav__item {
  display: inline-block;
  text-align: right;
  vertical-align: left;
}

.button {
  background-color: rgba(158, 158, 158, 0.7);
  font: inherit;
  color: rgba(0, 0, 0, 0.747);
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.7);
}

.button:hover,
.button:active {
  background-color: rgba(0, 0, 0, 0.747);
  color: rgba(245, 245, 245, 0.7);
}

.button:focus {
  outline: none;
}

.footer {
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.footer1 {
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.footer--li {
  padding: 5px;
}


.footer--style {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
}

.footer--logo {
  background-color: rgb(27, 27, 27);
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin: auto;
  color: whitesmoke;
  text-decoration: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgb(78, 78, 78);
  width: 50%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

